.section-picktaxi {
    width: 100%;
    margin: auto;
    margin-bottom: 100px;
    padding: 5px;
    height: fit-content;
    background-color: rgba(236, 236, 236, 0.712);
}

.picktaxi-head {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 3em;
        margin-bottom: 20px;
    }
}

.picktaxi-info {
    display: flex;
    width: 70%;
    text-align: center;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
    h4 {
        font-weight: 400;
        margin-bottom: 20px;
        color: rgb(17, 17, 17);
    }

    h5 {
        font-weight: 400;
        color: gray;
        margin-bottom: 10px;  
    }
}

.picktaxi-collection {
    width: fit-content;
    margin: auto;
    display: grid;
    margin-bottom: -200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
        img {
            border-radius: 2px;
            box-shadow: 0 0 30px rgba(39, 39, 39, 0.644) !important;
            height: 212px;
            width: 310px;
        }
}
